* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  color: #FFFFFF;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.deep-background {
  background-color: #1A0B2E;
}

.light-background {
    background-color: #230E3D;
}

.max-width-margin {
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

/* .text-opa-60-font-1-lh-1.5 */
.text-descriptive {
    opacity: 0.6;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Nav Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem;
}

nav h2 {
    font-size: 2rem;
    font-weight: 700;
}

.gradient-text {
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: transparent;
    background-clip: text;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a:hover {
    color: #F7E93F;
}

.sub-btn {
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: #FFFFFF;
    border: none;
    padding: 0.78125rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.sub-btn:hover {
    background: linear-gradient(to top right, #FB09B4 0%, #9100F8 51%, #F7E93F 100%);
    transform: scale(1.10);
    
}

/* Hero Styles */
.hero-container {
    background: url('../assets/hero-bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    text-align: center;

    position: relative;
    padding: 101px 0;

}

.hero-circle-container {
    position: relative;
    max-width: 350px;
    min-width: 350px;
    width: 100%;
    top: -10px;
}

.hero-circle {
    max-width: 350px;
    width: 100%;
    height: auto;
}

.microphone-container {
    position: absolute;
    max-width: 117px;
    top: 170px;
    left: calc(50% - 58.5px);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.microphone {
    width: 100%;
}

.hero-badge {
    position: absolute;
    top: 100px;
    left: calc(50% + 77px);
    z-index: 20;

    background-color: #00FF88;
    color: #1A0B2E;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0%;
}

.hero-content h1 {
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.hero-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.sub-green {
    color: #00FF88;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.25rem;
    border-radius: 2rem;
    border: 1px solid #00FF88;
    transition: transform 0.2s ease;
}

.sub-green:hover {
    cursor: pointer;
    background-color: #00FF88;
    color: #1A0B2E;
    transform: scale(1.10);
}

/* About Podcast Styles */
.about-podcast {
    text-align: center;
    padding: 3.125rem 0 7.5rem;
      
}
.about-podcast-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-podcast-container h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about-podcast-container p {
    font-size: 1rem;
    opacity: 0.8;
    line-height: 1.75rem;
}

.about-para-1 {
    margin-bottom: 1.5rem;
}

.about-para-2 {
    margin-bottom: 5rem;
}

.about-podcast hr {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    opacity: 0.1;
}

.about-stat-container {
    justify-content: space-between;
    gap: 4.5rem;
}

.about-stat-container .card {
    text-align: center;
    padding: 0 0.5rem;
}

.about-stat-container .card h3 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 1rem;
}

/* Why Choose Styles */
.why-choose {
    padding: 7.5rem 0;
}

.why-choose h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    text-align: center;
}

.why-choose-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 240px) 273px; 
    gap: 1.5rem;
}

.why-choose-cards .card {
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    background-color: rgba(53, 17, 101, 0.40);
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.why-choose-cards .card img {
    margin-bottom: 1rem;
}

.why-choose-cards .card h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.why-choose-cards .card p {
    font-size: 1rem;
    opacity: 0.6;
    line-height: 1.5rem;
}

.why-choose-cards .card-1 {
    grid-column: span 2;
    grid-row: span 2;
}

.why-choose-cards .card-2 {
    grid-column: span 4;
    grid-row: span 1;
}

.why-choose-cards .card-3 {
    grid-column: span 2;
    grid-row: span 1;
}

/* Featured Episodes Styles */
.featured-episodes {
    padding: 7.5rem 0;
}

.featured-episodes h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.featured-episodes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.875rem;
}

.featured-episodes-container .card {
    border-radius: 1.5rem;
    background-color: #250D44;
}

.featured-episodes-container .card iframe {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    width: 100%;
    height: 200px;
}

.featured-episodes-container .card-text {
    padding: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.featured-episodes-container .card-text h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.featured-episodes-container .card-text p {
    font-size: 1rem;
    opacity: 0.6;
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
}

.featured-episodes-container .card-text h5 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.featured-episodes-container .card-text h5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

/* Meet Host Styles */
.meet-host h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.meet-host-container {
    padding: 2.5rem;
    gap: 1.5rem;
}

.meet-host-texts {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.meet-host-texts h3 {
    font-size: 2rem;
    font-weight: 700;
}

.host-socials {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.host-social-img {
    border: 1px solid #533C72;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.host-social-img img {
    height: 1.25rem;
    width: 1.25rem;
}

